In [301]:
import pandas as pd
import numpy as np
import math

In [302]:
df_maps = pd.read_csv('../data/maps_scores.csv')

# df_maps.dtypes
df_maps.head()

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team A Attacker Score,Team A Defender Score,Team A Overtime Score,Team B,Team B Score,Team B Attacker Score,Team B Defender Score,Team B Overtime Score,Duration
0,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,MIBR vs Leviatán,Ascent,MIBR,9,6,3,NaN,Leviatán,13,7,6,NaN,1:05:24
1,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,MIBR vs Leviatán,Icebox,MIBR,7,3,4,NaN,Leviatán,13,4,9,NaN,45:04
2,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,Sentinels vs NRG Esports,Lotus,Sentinels,13,8,5,NaN,NRG Esports,8,4,4,NaN,59:21
3,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,Sentinels vs NRG Esports,Sunset,Sentinels,14,9,3,2.0,NRG Esports,12,9,3,0.0,1:00:54
4,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,FURIA vs 100 Thieves,Icebox,FURIA,14,6,6,2.0,100 Thieves,12,6,6,0.0,1:12:51

In [303]:
# df_maps[(df_maps['Team B'] == 'FNATIC') & (df_maps['Map'] == 'Ascent')]

In [304]:
# Lista de equipos participantes
participating_teams = ['FNATIC', 'Bilibili Gaming', 'DRX', 'KRÜ Esports', 'Gen.G', 'Sentinels', 'FunPlus Phoenix', 'Team Heretics', 'Leviatán', 'Talon Esports', 'Team Vitality', 'Trace Esports', 'EDward Gaming', 'FUT Esports', 'G2 Esports', 'Paper Rex']

# Eliminar columnas innecesarias
df_maps.drop(columns=['Tournament', 'Stage', 'Match Type', 'Match Name', 'Team A Attacker Score', 'Team A Defender Score', 'Team A Overtime Score', 'Team B Attacker Score', 'Team B Defender Score', 'Team B Overtime Score', 'Duration'], inplace=True)

In [305]:
# Filtrar los datos para mantener solo los de los equipos participantes
filtered_df_maps = df_maps[df_maps['Team A'].isin(participating_teams) | df_maps['Team B'].isin(participating_teams)]
filtered_df_maps

         Map      Team A  Team A Score       Team B  Team B Score
0     Ascent        MIBR             9     Leviatán            13
1     Icebox        MIBR             7     Leviatán            13
2      Lotus   Sentinels            13  NRG Esports             8
3     Sunset   Sentinels            14  NRG Esports            12
9     Ascent  G2 Esports            13       Cloud9            11
...      ...         ...           ...          ...           ...
1013   Lotus         DRX             8        Gen.G            13
1014  Ascent   Paper Rex             5        Gen.G            13
1015   Split   Paper Rex            13        Gen.G             4
1016   Lotus   Paper Rex            11        Gen.G            13
1017    Bind   Paper Rex             4        Gen.G            13

[742 rows x 5 columns]

In [306]:
# Crea una columna nueva con el ganador de cada mapa
filtered_df_maps['Map Winner'] = np.where(filtered_df_maps['Team A Score'] > filtered_df_maps['Team B Score'], filtered_df_maps['Team A'], filtered_df_maps['Team B'])
filtered_df_maps.head(3)

C:\Users\user\AppData\Local\Temp\ipykernel_13492\3021565895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_maps['Map Winner'] = np.where(filtered_df_maps['Team A Score'] > filtered_df_maps['Team B Score'], filtered_df_maps['Team A'], filtered_df_maps['Team B'])

      Map     Team A  Team A Score       Team B  Team B Score Map Winner
0  Ascent       MIBR             9     Leviatán            13   Leviatán
1  Icebox       MIBR             7     Leviatán            13   Leviatán
2   Lotus  Sentinels            13  NRG Esports             8  Sentinels

In [307]:
# Crear tabla de victorias por mapa por equipo para este año
team_map_wins = filtered_df_maps.groupby(['Map Winner', 'Map']).size().unstack(fill_value=0)
team_map_wins = team_map_wins[team_map_wins.index.isin(participating_teams)]

team_map_wins.reset_index(inplace=True)
team_map_wins.rename(columns={'Map Winner': 'Team'}, inplace=True)

team_map_wins

Map,Team,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
0,Bilibili Gaming,0,3,4,0,0,5,5,1,3
1,DRX,1,5,5,3,4,4,3,3,2
2,EDward Gaming,1,4,8,6,2,4,2,6,8
3,FNATIC,0,3,5,5,5,2,11,4,3
4,FUT Esports,0,4,4,1,0,4,6,6,5
5,FunPlus Phoenix,2,6,3,3,3,6,10,0,6
6,G2 Esports,1,7,8,3,1,6,10,5,2
7,Gen.G,0,14,8,8,2,10,16,7,5
8,KRÜ Esports,1,2,0,3,2,3,5,4,3
9,Leviatán,1,4,5,3,2,12,6,0,7
10,Paper Rex,1,5,6,0,0,6,8,7,15
11,Sentinels,0,2,4,0,1,3,10,12,6
12,Talon Esports,1,2,3,3,0,2,7,0,1
13,Team Heretics,1,1,10,2,2,9,10,5,15
14,Team Vitality,0,3,1,4,1,5,5,0,9
15,Trace Esports,0,5,3,2,4,0,8,3,8

In [308]:
# Crear tabla de cantidad de veces que se jugo cada mapa por equipo

team_map_counts = df_maps.groupby(['Team A', 'Map']).size().unstack(fill_value=0)
team_map_counts += df_maps.groupby(['Team B', 'Map']).size().unstack(fill_value=0)
team_map_counts = team_map_counts.loc[participating_teams]

team_map_counts.reset_index(inplace=True)
team_map_counts.rename(columns={'Map Winner': 'Team'}, inplace=True)

team_map_counts

Map,Team A,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
0,FNATIC,0,6,9,8,5,7,16,6,4
1,Bilibili Gaming,0,5,8,1,1,9,9,2,6
2,DRX,2,9,9,4,5,6,7,5,5
3,KRÜ Esports,2,8,0,4,2,9,8,7,8
4,Gen.G,0,17,12,12,3,16,21,14,10
5,Sentinels,0,6,8,4,2,7,13,16,8
6,FunPlus Phoenix,2,11,6,7,7,11,15,1,12
7,Team Heretics,1,2,13,5,3,13,18,12,19
8,Leviatán,1,7,10,6,3,15,9,3,10
9,Talon Esports,2,9,3,4,2,5,10,1,5
10,Team Vitality,0,6,3,5,4,9,12,1,14
11,Trace Esports,2,5,9,5,7,0,11,5,14
12,EDward Gaming,2,7,13,8,3,9,4,8,12
13,FUT Esports,1,4,9,2,1,8,11,10,12
14,G2 Esports,1,10,13,6,2,14,16,8,6
15,Paper Rex,1,12,12,2,1,10,16,9,17

## Lista de Winrates por equipo por mapa

In [309]:
# Calcular el porcentaje de victorias por mapa por equipo
team_map_win_rates = ((team_map_wins.set_index('Team') / team_map_counts.set_index('Team A')) * 100).round(2)
team_map_win_rates.fillna(0, inplace=True)
# team_map_win_rates = team_map_win_rates.astype(str) + '%'
team_map_win_rates.reset_index(inplace=True)
team_map_win_rates

Map,index,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
0,Bilibili Gaming,0.0,60.00,50.00,0.00,0.00,55.56,55.56,50.00,50.00
1,DRX,50.0,55.56,55.56,75.00,80.00,66.67,42.86,60.00,40.00
2,EDward Gaming,50.0,57.14,61.54,75.00,66.67,44.44,50.00,75.00,66.67
3,FNATIC,0.0,50.00,55.56,62.50,100.00,28.57,68.75,66.67,75.00
4,FUT Esports,0.0,100.00,44.44,50.00,0.00,50.00,54.55,60.00,41.67
5,FunPlus Phoenix,100.0,54.55,50.00,42.86,42.86,54.55,66.67,0.00,50.00
6,G2 Esports,100.0,70.00,61.54,50.00,50.00,42.86,62.50,62.50,33.33
7,Gen.G,0.0,82.35,66.67,66.67,66.67,62.50,76.19,50.00,50.00
8,KRÜ Esports,50.0,25.00,0.00,75.00,100.00,33.33,62.50,57.14,37.50
9,Leviatán,100.0,57.14,50.00,50.00,66.67,80.00,66.67,0.00,70.00
10,Paper Rex,100.0,41.67,50.00,0.00,0.00,60.00,50.00,77.78,88.24
11,Sentinels,0.0,33.33,50.00,0.00,50.00,42.86,76.92,75.00,75.00
12,Talon Esports,50.0,22.22,100.00,75.00,0.00,40.00,70.00,0.00,20.00
13,Team Heretics,100.0,50.00,76.92,40.00,66.67,69.23,55.56,41.67,78.95
14,Team Vitality,0.0,50.00,33.33,80.00,25.00,55.56,41.67,0.00,64.29
15,Trace Esports,0.0,100.00,33.33,40.00,57.14,0.00,72.73,60.00,57.14

In [310]:
# team_map_win_rates.to_csv('../data/team_map_win_rates.csv')

----------------------

In [311]:
# df_ascent = pd.DataFrame(columns=['Team','Times Played', 'Maps Won', 'Maps Lost', 'Map Win Rate', 'Rounds Won', 'Rounds Lost', 'Avg Round Win', 'Avg Round Loss', 'Map Pick Rate', 'Map Ban Rate'])

In [315]:
df_ascent = pd.DataFrame()

df_ascent['Team'] = participating_teams
df_ascent['Times Played'] = team_map_counts['Ascent']
df_ascent['Maps Won'] = df_ascent['Team'].map(team_map_wins.set_index('Team')['Ascent'])
df_ascent['Maps Lost'] = df_ascent['Times Played'] - df_ascent['Maps Won']
df_ascent['Map Win Rate (%)'] = df_ascent['Team'].map(team_map_win_rates.set_index('index')['Ascent'])

for team in df_ascent['Team']:
    sum_team_score = df_maps.loc[(df_maps['Map'] == 'Ascent') & (df_maps['Team A'] == team), 'Team A Score'].sum()
    sum_team_score += df_maps.loc[(df_maps['Map'] == 'Ascent') & (df_maps['Team B'] == team), 'Team B Score'].sum()
    df_ascent.loc[df_ascent['Team'] == team, 'Rounds Won'] = sum_team_score
    df_ascent['Rounds Won'] = df_ascent['Rounds Won'].astype(int, errors='ignore')

    sum_team_rounds = df_maps.loc[(df_maps['Map'] == 'Ascent') & (df_maps['Team A'] == team), 'Team B Score'].sum()
    sum_team_rounds += df_maps.loc[(df_maps['Map'] == 'Ascent') & (df_maps['Team B'] == team), 'Team A Score'].sum()
    df_ascent.loc[df_ascent['Team'] == team, 'Rounds Lost'] = sum_team_rounds
    df_ascent['Rounds Lost'] = df_ascent['Rounds Lost'].astype(int, errors='ignore')

df_ascent['Avg Round Win (Per Game)'] = (df_ascent['Rounds Won'] / (df_ascent['Times Played'])).round(2)
df_ascent['Avg Round Loss (Per Game)'] = (df_ascent['Rounds Lost'] / (df_ascent['Times Played'])).round(2)

df_ascent

,Team,Times Played,Maps Won,Maps Lost,Map Win Rate (%),Rounds Won,Rounds Lost,Avg Round Win (Per Game),Avg Round Loss (Per Game)
0,FNATIC,6,3,3,50.00,59,64,9.83,10.67
1,Bilibili Gaming,5,3,2,60.00,51,51,10.20,10.20
2,DRX,9,5,4,55.56,99,93,11.00,10.33
3,KRÜ Esports,8,2,6,25.00,81,100,10.12,12.50
4,Gen.G,17,14,3,82.35,212,151,12.47,8.88
5,Sentinels,6,2,4,33.33,61,64,10.17,10.67
6,FunPlus Phoenix,11,6,5,54.55,118,106,10.73,9.64
7,Team Heretics,2,1,1,50.00,24,22,12.00,11.00
8,Leviatán,7,4,3,57.14,86,71,12.29,10.14
9,Talon Esports,9,2,7,22.22,76,105,8.44,11.67
10,Team Vitality,6,3,3,50.00,64,64,10.67,10.67
11,Trace Esports,5,5,0,100.00,65,33,13.00,6.60
12,EDward Gaming,7,4,3,57.14,71,66,10.14,9.43
13,FUT Esports,4,4,0,100.00,53,33,13.25,8.25
14,G2 Esports,10,7,3,70.00,115,118,11.50,11.80
15,Paper Rex,12,5,7,41.67,120,128,10.00,10.67

In [ ]:
# Assuming you want to print the rows where the 'Team' column in df_ascent equals 'FNATIC'
# df_maps[(df_maps['Team B'] == 'FNATIC') & (df_maps['Map'] == 'Ascent')]

In [ ]:
# df_maps

team = 'FNATIC'
map_name = 'Ascent'

sum_team_score = df_maps.loc[(df_maps['Map'] == map_name) & (df_maps['Team A'] == team), 'Team A Score'].sum()
print(sum_team_score)
sum_team_score += df_maps.loc[(df_maps['Map'] == map_name) & (df_maps['Team B'] == team), 'Team B Score'].sum()
print(sum_team_score)

df_ascent['Rounds Won'] = sum_team_score
df_ascent

22
59

,Team,Times Played,Maps Won,Maps Lost,Map Win Rate (%),Rounds Won,Rounds Lost,Avg Round Win (%)
0,FNATIC,6,3,3,50.00,59,64,47.97
1,Bilibili Gaming,5,3,2,60.00,59,51,50.00
2,DRX,9,5,4,55.56,59,93,51.56
3,KRÜ Esports,8,2,6,25.00,59,100,44.75
4,Gen.G,17,14,3,82.35,59,151,58.40
5,Sentinels,6,2,4,33.33,59,64,48.80
6,FunPlus Phoenix,11,6,5,54.55,59,106,52.68
7,Team Heretics,2,1,1,50.00,59,22,52.17
8,Leviatán,7,4,3,57.14,59,71,54.78
9,Talon Esports,9,2,7,22.22,59,105,41.99
10,Team Vitality,6,3,3,50.00,59,64,50.00
11,Trace Esports,5,5,0,100.00,59,33,66.33
12,EDward Gaming,7,4,3,57.14,59,66,51.82
13,FUT Esports,4,4,0,100.00,59,33,61.63
14,G2 Esports,10,7,3,70.00,59,118,49.36
15,Paper Rex,12,5,7,41.67,59,128,48.39