In [1]:
import pandas as pd
import numpy as np

In [2]:
df_maps = pd.read_csv('../data/maps_scores.csv')
df_scores = pd.read_csv('../data/scores.csv')
df_win_loss_methods = pd.read_csv('../data/win_loss_methods_count.csv')

# df_maps.dtypes
df_maps.head()

# df_scores.head()
# df_scores.dtypes
# df_win_loss_methods.dtypes

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team A Attacker Score,Team A Defender Score,Team A Overtime Score,Team B,Team B Score,Team B Attacker Score,Team B Defender Score,Team B Overtime Score,Duration
0,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,MIBR vs Leviatán,Ascent,MIBR,9,6,3,NaN,Leviatán,13,7,6,NaN,1:05:24
1,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,MIBR vs Leviatán,Icebox,MIBR,7,3,4,NaN,Leviatán,13,4,9,NaN,45:04
2,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,Sentinels vs NRG Esports,Lotus,Sentinels,13,8,5,NaN,NRG Esports,8,4,4,NaN,59:21
3,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,Sentinels vs NRG Esports,Sunset,Sentinels,14,9,3,2.0,NRG Esports,12,9,3,0.0,1:00:54
4,Champions Tour 2024: Americas Stage 2,Regular Season,Week 1,FURIA vs 100 Thieves,Icebox,FURIA,14,6,6,2.0,100 Thieves,12,6,6,0.0,1:12:51

In [3]:
# Lista de equipos participantes
participating_teams = ['FNATIC', 'Bilibili Gaming', 'DRX', 'KRÜ Esports', 'Gen.G', 'Sentinels', 'FunPlus Phoenix', 'Team Heretics', 'Leviatán', 'Talon Esports', 'Team Vitality', 'Trace Esports', 'EDward Gaming', 'FUT Esports', 'G2 Esports', 'Paper Rex']

# Eliminar columnas innecesarias
df_maps.drop(columns=['Tournament', 'Stage', 'Match Type', 'Match Name', 'Team A Attacker Score', 'Team A Defender Score', 'Team A Overtime Score', 'Team B Attacker Score', 'Team B Defender Score', 'Team B Overtime Score', 'Duration'], inplace=True)

In [4]:
# Filtrar los datos para mantener solo los de los equipos participantes
filtered_df_maps = df_maps[df_maps['Team A'].isin(participating_teams) | df_maps['Team B'].isin(participating_teams)]
filtered_df_maps

         Map      Team A  Team A Score       Team B  Team B Score
0     Ascent        MIBR             9     Leviatán            13
1     Icebox        MIBR             7     Leviatán            13
2      Lotus   Sentinels            13  NRG Esports             8
3     Sunset   Sentinels            14  NRG Esports            12
9     Ascent  G2 Esports            13       Cloud9            11
...      ...         ...           ...          ...           ...
1013   Lotus         DRX             8        Gen.G            13
1014  Ascent   Paper Rex             5        Gen.G            13
1015   Split   Paper Rex            13        Gen.G             4
1016   Lotus   Paper Rex            11        Gen.G            13
1017    Bind   Paper Rex             4        Gen.G            13

[742 rows x 5 columns]

In [28]:
# Crea una columna nueva con el ganador de cada mapa
filtered_df_maps['Map Winner'] = np.where(filtered_df_maps['Team A Score'] > filtered_df_maps['Team B Score'], filtered_df_maps['Team A'], filtered_df_maps['Team B'])
filtered_df_maps

C:\Users\user\AppData\Local\Temp\ipykernel_17820\1812997318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_maps['Map Winner'] = np.where(filtered_df_maps['Team A Score'] > filtered_df_maps['Team B Score'], filtered_df_maps['Team A'], filtered_df_maps['Team B'])

         Map      Team A  Team A Score       Team B  Team B Score  Map Winner
0     Ascent        MIBR             9     Leviatán            13    Leviatán
1     Icebox        MIBR             7     Leviatán            13    Leviatán
2      Lotus   Sentinels            13  NRG Esports             8   Sentinels
3     Sunset   Sentinels            14  NRG Esports            12   Sentinels
9     Ascent  G2 Esports            13       Cloud9            11  G2 Esports
...      ...         ...           ...          ...           ...         ...
1013   Lotus         DRX             8        Gen.G            13       Gen.G
1014  Ascent   Paper Rex             5        Gen.G            13       Gen.G
1015   Split   Paper Rex            13        Gen.G             4   Paper Rex
1016   Lotus   Paper Rex            11        Gen.G            13       Gen.G
1017    Bind   Paper Rex             4        Gen.G            13       Gen.G

[742 rows x 6 columns]

In [6]:
# map_winner_counts = filtered_df_maps['Map Winner'].value_counts()
# map_winner_counts.head()

Map Winner
Gen.G            70
Team Heretics    55
Paper Rex        48
G2 Esports       43
EDward Gaming    41
Name: count, dtype: int64

In [29]:
# Crear tabla de victorias por mapa por equipo para este año
team_map_wins = filtered_df_maps.groupby(['Map Winner', 'Map']).size().unstack(fill_value=0)

team_map_wins = team_map_wins[team_map_wins.index.isin(participating_teams)]
team_map_wins.head()

Map,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
Map Winner,,,,,,,,,
Bilibili Gaming,0,3,4,0,0,5,5,1,3
DRX,1,5,5,3,4,4,3,3,2
EDward Gaming,1,4,8,6,2,4,2,6,8
FNATIC,0,3,5,5,5,2,11,4,3
FUT Esports,0,4,4,1,0,4,6,6,5

In [18]:
# Crear tabla de cantidad de veces que se jugo cada mapa por equipo

team_map_counts = df_maps.groupby(['Team A', 'Map']).size().unstack(fill_value=0)
team_map_counts += df_maps.groupby(['Team B', 'Map']).size().unstack(fill_value=0)
team_map_counts = team_map_counts.loc[participating_teams]
team_map_counts

Map,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
Team A,,,,,,,,,
FNATIC,0,6,9,8,5,7,16,6,4
Bilibili Gaming,0,5,8,1,1,9,9,2,6
DRX,2,9,9,4,5,6,7,5,5
KRÜ Esports,2,8,0,4,2,9,8,7,8
Gen.G,0,17,12,12,3,16,21,14,10
Sentinels,0,6,8,4,2,7,13,16,8
FunPlus Phoenix,2,11,6,7,7,11,15,1,12
Team Heretics,1,2,13,5,3,13,18,12,19
Leviatán,1,7,10,6,3,15,9,3,10
Talon Esports,2,9,3,4,2,5,10,1,5
Team Vitality,0,6,3,5,4,9,12,1,14
Trace Esports,2,5,9,5,7,0,11,5,14
EDward Gaming,2,7,13,8,3,9,4,8,12
FUT Esports,1,4,9,2,1,8,11,10,12
G2 Esports,1,10,13,6,2,14,16,8,6
Paper Rex,1,12,12,2,1,10,16,9,17

In [27]:
# Calcular el porcentaje de victorias por mapa por equipo

team_map_win_rates = ((team_map_wins / team_map_counts) * 100).round(2)
team_map_win_rates.fillna(0, inplace=True)
team_map_win_rates = team_map_win_rates.astype(str) + '%'
team_map_win_rates

Map,Abyss,Ascent,Bind,Breeze,Haven,Icebox,Lotus,Split,Sunset
Bilibili Gaming,0.0%,60.0%,50.0%,0.0%,0.0%,55.56%,55.56%,50.0%,50.0%
DRX,50.0%,55.56%,55.56%,75.0%,80.0%,66.67%,42.86%,60.0%,40.0%
EDward Gaming,50.0%,57.14%,61.54%,75.0%,66.67%,44.44%,50.0%,75.0%,66.67%
FNATIC,0.0%,50.0%,55.56%,62.5%,100.0%,28.57%,68.75%,66.67%,75.0%
FUT Esports,0.0%,100.0%,44.44%,50.0%,0.0%,50.0%,54.55%,60.0%,41.67%
FunPlus Phoenix,100.0%,54.55%,50.0%,42.86%,42.86%,54.55%,66.67%,0.0%,50.0%
G2 Esports,100.0%,70.0%,61.54%,50.0%,50.0%,42.86%,62.5%,62.5%,33.33%
Gen.G,0.0%,82.35%,66.67%,66.67%,66.67%,62.5%,76.19%,50.0%,50.0%
KRÜ Esports,50.0%,25.0%,0.0%,75.0%,100.0%,33.33%,62.5%,57.14%,37.5%
Leviatán,100.0%,57.14%,50.0%,50.0%,66.67%,80.0%,66.67%,0.0%,70.0%
Paper Rex,100.0%,41.67%,50.0%,0.0%,0.0%,60.0%,50.0%,77.78%,88.24%
Sentinels,0.0%,33.33%,50.0%,0.0%,50.0%,42.86%,76.92%,75.0%,75.0%
Talon Esports,50.0%,22.22%,100.0%,75.0%,0.0%,40.0%,70.0%,0.0%,20.0%
Team Heretics,100.0%,50.0%,76.92%,40.0%,66.67%,69.23%,55.56%,41.67%,78.95%
Team Vitality,0.0%,50.0%,33.33%,80.0%,25.0%,55.56%,41.67%,0.0%,64.29%
Trace Esports,0.0%,100.0%,33.33%,40.0%,57.14%,0.0%,72.73%,60.0%,57.14%

----------------------

In [8]:
map_a = 'Sunset'
map_b = 'Lotus'
map_c = 'Haven'

In [9]:
team_a = 'Leviatán'
team_b = 'Talon Esports'

In [10]:
count_team_a_map_a = ((df_maps['Team A'] == team_a) & (df_maps['Map'] == map_a)).sum() + ((df_maps['Team B'] == team_a) & (df_maps['Map'] == map_a)).sum()
count_team_a_map_b = ((df_maps['Team A'] == team_a) & (df_maps['Map'] == map_b)).sum() + ((df_maps['Team B'] == team_a) & (df_maps['Map'] == map_b)).sum()
count_team_a_map_c = ((df_maps['Team A'] == team_a) & (df_maps['Map'] == map_c)).sum() + ((df_maps['Team B'] == team_a) & (df_maps['Map'] == map_c)).sum()

team_a_maps = [count_team_a_map_a, count_team_a_map_b, count_team_a_map_c]

In [11]:
df_performance_team_a = pd.DataFrame(columns=['Map', 'Times Played', 'Wins', 'Losses', 'Win Rate', 'Rounds Played', 'Rounds Won', 'Rounds Lost'])

df_performance_team_a['Map'] = [map_a, map_b, map_c]
df_performance_team_a['Times Played'] = team_a_maps
# df_performance_team_a['Win Rate'] = 

print(f'Team: {team_a}')
df_performance_team_a

Team: Leviatán

,Map,Times Played,Wins,Losses,Win Rate,Rounds Played,Rounds Won,Rounds Lost
0,Sunset,10,NaN,NaN,NaN,NaN,NaN,NaN
1,Lotus,9,NaN,NaN,NaN,NaN,NaN,NaN
2,Haven,3,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
count_team_a_map_a = ((df_maps['Team A'] == team_a) & (df_maps['Map'] == map_a)).sum() + ((df_maps['Team B'] == team_a) & (df_maps['Map'] == map_a)).sum()

print(f'{team_a} played {map_a} {count_team_a_map_a} times')

Leviatán played Sunset 10 times

-----------------------------

In [13]:
# team_df = pd.DataFrame(columns=['Team', 'Matches Played', 'Match Wins', 'Match Losses', 'Maps Played',
#                                 'Maps Won', 'Maps Lost', 
                                 
                                 
#                                   'Rounds Played',
                                
                                
#                                 'Rounds Won', 'Rounds Lost', 'Win Rate', 'Loss Rate', 'Round Win Rate', 'Round Loss Rate'])

# team_df['Team'] = participating_teams
# team_df['Matches Played'] = 


# team_df.head()